@charset "UTF-8";

/*-----main------*/
html {
	height:100%;
	width: 100%;
}
body {
	height:100%;
	width: 100%;
	margin: 0;
}
p{
	word-break: break-all;
}
.thread_page{
	position: relative;
	 width: 100%;
	 z-index: 2147483647;
	 min-height: 100%;
}
.main-page{
	display: flex;
}
.title-area{
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
	padding: 10px;
	margin-bottom: 10px;
	width: 38.7%;
}
.title-text{
	margin: 0;
	font-weight: bolder;
	font-size: 18px;
	display: inline;
}
.title-link{
	color: #000;
	text-decoration: none;
	font-weight: bolder;
	font-size: 18px;
	display: inline;
}
.tweet-area{
	margin-top: 50px;
}
/*------/main------*/
/*--------left-aside-----------*/
.left-aside{
	width: 30%;
	height: 100%;
  	position: fixed;
  	text-align: right;
}
.left-wrapper{
	display: inline-block;
	height: 100%;
	margin: 20px;
	text-align: left;
	position: relative;
	width: 215px;
}
.skip-button{
	margin-bottom: 18px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.skip-main{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 60px;
	position: relative;
}
.skip-button:hover{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}
.skip-link{
	color: #000;
	font-size: 22px;
	text-decoration: none;
	font-weight: border;
}
.skip-text{
	font-size: 22px;
	top: 17%;
	left: 35%;
	margin: 0;
	display: inline;
	position: absolute;
}
.skip-img{
	top: 17%;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	display: inline;
	position: absolute;
}
.logout{
	display: inline;
	position: absolute;
	right: 24%;
	z-index: 100;
	cursor: pointer;
}

.logout-link{
	display: inline;
}
.logout-img{
	height: 35px;
	display: inline;
	position: absolute;
	padding: 5px;
}
.cloudy-logo {
	top: 17%;
	padding-left: 5px;
	padding-right: 5px;
	height: 36px;
	width: 68px;
	display: inline;
	position: absolute;
	border-radius: 10px;
}

.top-img{
	margin: 0;
}

.putButton{
	outline: none;
	border: 2px solid #00BFFF;
	background: #00BFFF;
	color: #fff;
	font-weight: bolder;
	border-radius: 30px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 70px;
	padding-right: 70px;
	font-size: 1.06em;
}
.putButton:hover{
	background: #fff;
	border-color: #00BFFF;
	color: #00BFFF;
	transition: 0.3s;
}
.profile-area{
	display: flex;
	bottom: 5%;
	padding: 5px;
	padding-right: 50px;
	position: absolute;
}
.profile-area:hover{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}
.profile-img{
	width: 43px;
}
.user-info{
	margin-left: 10px;
	font-size: 14px;
}
.profile-name{
	margin: 0;
	font-size: 13px;
}
.profile-id{
	margin: 0;
	color: #606060;
}
/*---------/left-aside----------*/
/*--------right-aside-----------*/
.right-aside{
	width: 30%;
	margin-left: 70%;
	position: fixed;
}
.serch-box{
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
}
.search-img{
	top: 28%;
	left: 4%;
	height: 17px;
	position: absolute;
}
.search-input{
	border: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, 0.07);
}
.search-input:focus{
	background-color: #fff;
	border: 1px solid #00bfff;
	padding-left: 49px;
	padding-right: 49px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.pagetop{
	border: 2px solid #00BFFF;
	background: #00BFFF;
	color: #fff;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
	z-index: 1003040;
}
.pagetop:hover{
	background: #fff;
	border-color: #00BFFF;
	color: #00BFFF;
	transition: 0.3s;
}
/*---------/right-aside----------*/
/*--------main-area-----------*/
.main-area{
	width: 40%;
	margin-left: 30%;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
/*---------/main-area----------*/
/*-----------tweet-box--------------*/
.input_box_close{
	font-weight: bolder;
	color: rgb(15, 20, 25);
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
}
.input_area{
	position: relative;
}
.input_tag_area{
	resize: none;
	border: none;
	outline: none;
	z-index: 100000;
	position: absolute;
	font-size: 20px;
	left: 8%;
	border-bottom: 1px solid #C0C0C0;
}
.input_tag_area::placeholder{
	font-size: 20px;
}
.count-area{
	color: rgba(0, 0, 0, 0.5);
	font-size: 11px;
	margin-right: 5%;
	margin-top: 5%;
}
.commit-area{
	display: flex;
	text-align: right;
	margin-left: 67%;
	margin-top: 2%;
}
.input_box_close:hover{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	cursor: pointer;
}
.box_area{
	width: 100%;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	top: 5%;
	z-index: 1000;
}
.input_box{
	background-color: rgba(255,255,255,1.00);
	position: absolute;
	max-width: 80vw;
	max-height: 90vh;
	min-height: 270px;
	min-width: 600px;
	border-radius: 16px;
	top: 5%;
	left: 30.3%;
	z-index: 1000;
}
.input_text_area{
	font-size: 25px;
	font-weight: lighter;
	resize: none;
	border: none;
	outline: none;
	margin-top: 20px;
	height: 130px;
	width: 500px;
	border-bottom: 1px solid #C0C0C0;
}
.input_text_area::placeholder{
	padding-top: 10px;
	padding-left: 10px;
	font-size: 25px;
}
.form_area{
	text-align: center;
}
.submit-button{
	border: 2px solid #00BFFF;
	background: #00BFFF;
	color: #fff;
	font-weight: bolder;
	border-radius: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	bottom: 2%;
	display: inline;
}
.submit-button:hover{
	background: #fff;
	border-color: #00BFFF;
	color: #00BFFF;
	transition: 0.3s;
}
.error-submit{
	border: 2px solid #ff0000;
	background: #ff0000;
}
.error-submit:hover{
	background: #fff;
	border-color: #ff0000;
	color: #ff0000;
}
/*-----------/tweet-box--------------*/