@charset "UTF-8";

/*共通部分*/

.html {
	font-size: 100%;
}

.body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体",
		"ヒラギノ角ゴ Pro W3", "sans-serif";
	line-height: 1.7;
	color: #432;
}

.a {
	text-decoration: none;
}

.img {
	max-width: 100%;
}

:focus {
	outline: none;
}

hr {
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: gray;
	left: 50%;
	right: 50%;
}

.userName {
	margin: 0;
}

.userId {
	margin: 0;
	color: #606060;
}

.profile-area-2{
	display: flex;
	bottom: 5%;
	padding: 5px;
	padding-right: 50px;
}
.profile-area-2:hover{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}

.side-time {
	display: flex;
	font-size: 50%;
}

.comment{
	margin-left: 10px;
}

.time{
	position:absolute;
	color: #606060;
	left: 63%;
}

.tag {
	margin-left: 10px;
}

.main-article {
	text-decoration: none;
	color : #000;
}


