@charset "UTF-8";

/*----いいねボタン----*/
.likes-area{
	display: inline-block;
	position: relative;
	margin-left: 5px;
}
.like_count{
	font-size: 0.1rem;
	top: 10%;
	color: rgba(255, 60, 60, 1);
	display: inline-block;
	position: absolute;
	padding-top: 2px;
	padding-left: 3px;
}
.input-submit{
	position: absolute;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 6px;
	padding-bottom: 19px;
	border-radius: 100%;
	left: 2%;
	top: 2%;
}
.input-wrapper{
	display: inline;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-radius: 100%;
}
.input-wrapper:hover{
	transition: 0.4s;
	background-color: rgba(255, 105, 180, 0.11);
}

.offHeart::before{
	content: "\02661";
	color: rgba(128, 128, 128, 1);
}
.onHeart::before{
	content: "\02665";
	color: rgba(255, 60, 60, 1);
}
/*----/いいねボタン----*/
