<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Cloudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>createservlet</servlet-name>
  	<servlet-class>CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createservlet</servlet-name>
  	<url-pattern>/createservlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>createaccount</servlet-name>
  	<jsp-file>/CreateAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createaccount</servlet-name>
  	<url-pattern>/createaccount</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>createaccountresult</servlet-name>
  	<jsp-file>/CreateAccountResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createaccountresult</servlet-name>
  	<url-pattern>/createaccountresult</url-pattern>
  </servlet-mapping>


  <servlet>
  	<servlet-name>threadpageservlet</servlet-name>
  	<servlet-class>ThreadPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>threadpageservlet</servlet-name>
  	<url-pattern>/threadpageservlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>threadpage</servlet-name>
  	<jsp-file>/ThreadPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>threadpage</servlet-name>
  	<url-pattern>/threadpage</url-pattern>
  </servlet-mapping>



</web-app>